<div *ngFor="let alert of alerts" class="{{ cssClass(alert) }} alert-dismissable">
     {{alert.message}}
     <button type="button" class="undo_button" (click)="onUndo()">Undo</button>
     <a class="close" (click)="removeAlert(alert)">&times;</a>
     
</div>