div {
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 200px;
    padding: 100px;
    border: black;
    border-style: solid;
}

.present {
    visibility: visible;
}

.hide {
    visibility: hidden;
}