/* You can add global styles to this file, and also import other style files */
.action_button {
	width: 90px;
	padding:5px;
	border:1px solid gray;
	float:right;
	margin-left:20px;
	text-align:center;
	font-weight: 800;
	text-align: center;
	cursor: pointer;
}
