<div class="location" *ngFor="let location of locations">
  {{ location }}
</div>
<!-- <input class="new_location" placeholder="Location name" autofocus="" [(ngModel)]="newLocation" (keyup.enter)="addLocation()"> -->
<input #textbox type="text" [(ngModel)]="textValue" required>
<button (click)="logText(textbox.value)">Update Log</button>
<button (click)="textValue=''">Clear</button>