<div *ngIf="!adding_trip">
  <div class="trip" *ngFor="let trip of trips">
    <div class="trip_details">
      {{trip.title}}
    </div>
    <div>
      <div class="action_button" (click)="deleteTrip(trip)">Delete</div>
      <div class="action_button" (click)="editTrip(trip)">Edit</div>
    </div>
  </div>
</div>