
#main_title {
	width: 800px;
	margin:auto;
	margin-top: 100px;
	font-size:44px;
	text-align: center;
}

#call_for_action {
	width: 400px;
	margin:auto;
	margin-top: 100px;
	font-size:32px;
	text-align: center;
	border:1px solid green;
	color:white;
	background: green;
	padding:20px;
	cursor: pointer;
}