/* You can add global styles to this file, and also import other style files */
.new-todo {
    background-color: beige;
}

.todo-priority {
    background-color: beige;
}

/* .destroy {
    padding: 1px;
} */

.toggle {
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        display: inline-block;
        height: 25px;
        line-height: 25px;
        font-size: 1rem;
        user-select: none;
}