.header_title {
	color:#666;
}

#header {
	width: 100%;
	height: 30px;
	border-bottom: 1px solid blue;
	padding:10px;
}

#content {
	width:800px;
	min-height: 400px;
	border: 1px solid red;
	margin:auto;
	padding:20px;
}

#footer {
	width: 100%;
	height: 30px;
	border-top: 1px solid blue;
}

.trip {
	width:600px;
	margin:auto;
	height:40px;
	padding:5px;
	border:1px solid grey;
	margin-bottom: 20px;

}

.action_button {
	width: 80px;
	height:20px;
	padding:5px;
	border:1px solid gray;
	float:right;
	margin-right:20px;
	text-align:center;
	font-weight: 800;
}

.trip_details {
	float:left;
}

.form_field {
	margin-bottom: 20px;
}

#add_trip_dialog {
	width:300px;
	margin:auto;
}

#add_trip_dialog input {
	width:290px;
	height:30px;
	font-size:24px;

}

input.ng-invalid {
	border:1px solid red;
}

